{% extends "main.html" %}

{% block title %}Lista książek{% endblock %}

{% load bootstrap4 %}


{% block content %}

    <div class="row">
        <div class="col-6">
            <table class="table">
                <tr>
                    <th>Wypożyczone książki</th>
                </tr>

                {% for i in borrow_list %}
                    <tr>
                        <td><a href="{% url "books:book_detail" i.book_id %}">{{ i.book.title }},
                            wypożyczona: {{ i.borrowing_date }}</a>
                            <form method="POST" class="float-right">{% csrf_token %}
                                <input type="hidden" name="borrow_id" value="{{ i.id }}">
                                <button class="btn btn-success">Return</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </div>
        <div class="col-6">
        </div>
    </div>
    <div class="pagination">
   <span class="step-links">
       {% if page_obj.has_previous %}
           <a href="?page=1">« first</a>
           <a href="?page={{ page_obj.previous_page_number }}">previous</a>
       {% endif %}

       <span class="current">
           Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
       </span>

       {% if page_obj.has_next %}
           <a href="?page={{ page_obj.next_page_number }}">next</a>
           <a href="?page={{ page_obj.paginator.num_pages }}">last »</a>
       {% endif %}
   </span>
    </div>

{% endblock %}