{% extends 'main.html' %}

{% block content %}

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if perms.posts.add_post %}
    <h2>Edycja postu</h2>
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% else %}
{% endif %}
{% endblock %}